.section {
  padding: 4rem 0;
  background-color: #333; /* Dark background */
  color: #212529; /* Light text */
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
 
}

.text-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 5rem;
}

.text-6 {
  font-size: 2rem;
  font-weight: 600;
}

.text-9 {
  font-size: 6rem;
  font-weight: 700;
  color: #3b3b3b !important;
  
}

.text-24 {
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.rounded {
  border-radius: 0.25rem;
  
  background-color: black;
}

.p-4 {
  padding: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.heading-separator-line {
  width: 60%;
  margin: 1rem auto;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: -0px; /* Position below the text */
  margin-bottom: 1rem;
  

}

.badge{
  background-color: #333 !important;
}

.info-box{
  background-color: #212529;
  text-align: left;
  margin-left: 2rem;
}

.info-boxt{
  background-color: #212529;
  text-align: left;
  margin-right: 2rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #5ca895;
  border-color: #6c757d;
}

.rounded-pill {
  border-radius: 50rem;
}

.shadow-none {
  box-shadow: none;
}
.skill-icon {
  display: inline-block; /* Makes sure the padding and margin are applied correctly */
  margin: 0 10px; /* Adjusts the space between icons */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

.skill-icon:hover {
  transform: scale(1.1); /* Slightly enlarges the icon */
  box-shadow: 0 0 10px #c5a0f7, 0 0 20px #a763f5; /* Glowing effect */
  background-color: transparent; /* Ensures no background color is influencing the glow */
  border: none;
}
@media (max-width: 768px) {
  .text-9 {
    font-size: 2rem;
  }
}
