.section {
  padding: 4rem 0;
  background-color: #333; /* Dark background */
  color: #212529; /* Light text */
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 0 15px;
  gap: 20px;
  
}

.text-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 5rem;
}

.text-6 {
  font-size: 2rem;
  font-weight: 600;
}

.text-9 {
  font-size: 6rem;
  font-weight: 700;
  color: #3b3b3b !important;
  
}

.text-24 {
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.rounded {
  border-radius: 0.25rem;
  
}

.p-4 {
  padding: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.heading-separator-line {
  width: 60%;
  margin: 1rem auto;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: -0px; /* Position below the text */
  margin-bottom: 1rem;
  

}

.rowcard  {
  margin: 15px;
  padding: 5rem;
  margin-left: 5rem;
  min-height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.container .card {
  position: relative;
  cursor: pointer;
  max-width: 500px;
}



.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  overflow: hidden; /* Ensures content fits within the rounded corners */
  margin-bottom: 2rem; /* Space between cards */
  
  
}
.container .card .face {
  width: 450px;
  height: 250px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #646363;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #72253f;
  transform: translateY(0px);
}

.container .card .face.face2 {
  position: relative;
  background: #a09797;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0px);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 25px 80px 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 100px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

@media (max-width: 768px) {
  .text-9 {
    font-size: 2rem;
  }
}
