/* ProjectDetailsModal.css */

/* Base styles for the modal */
.modal-content {
  background: #c9c8c8; /* Adjust the background as needed */
  color: #333; /* Adjust text color as needed */
  border-radius: 8px;
  overflow-y: auto; /* Makes the content scrollable vertically */
  max-height: 90vh;
}

.modal-body {
  padding-bottom: rem; /* Missing value before 'rem' */
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

/* Specific styles for the dark theme */
.modal-content.dark-theme {
  background: #333; /* Dark background for dark theme */
  color: #fff; /* Light text color for dark theme */
}

/* Close button customization */
.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-close-white {
  filter: invert(1);
}

.wrapper-component h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #333 ;
}

/* Content within the modal */
.modal-body {
  padding: 20px;
}

/* Headers inside the modal */
.modal-body h2,
.modal-body h4 {
  margin-bottom: 15px;
}

.modal-dialog {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Use at least the viewport height */
}

/* List styles */
.list-style-2 {
  list-style: none;
  padding: 0;
}

.list-style-2 li {
  margin-bottom: 5px;
}

/* Styling for social icons */
.social-icons {
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: inherit; /* Inherits color from parent, adjust as needed */
  text-decoration: none;
}

.social-icons-muted {
  opacity: 0.7;
}

/* Image styles */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* Slider specific styles */
.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

@media (max-width: 768px) {
  .modal-dialog {
    height: auto;
    min-height: 100vh;
    margin: 20px; /* Provide some space around the modal */
  }
}
