.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 50px;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #e67369;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #f3893d;
}

.Signup-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Signup-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.Signup-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #e67369;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Signup-form button:hover {
  background-color: #f3893d;
}
